details > summary {
  list-style: none;
}
.navigation {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb {
  display: flex;
  gap: 5px;
}
.breadcrumb li + li::before {
  color: #636363;
  content: "/\00a0";
}
.navigation__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
._active {
  font-weight: 700;
  color: #f16d7f;
}
.filter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 304px;
}
.filter > details > summary {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter > details[open] > summary {
  color: #ef5b70;
}
.filter > details[open] > summary > svg > path {
  fill: #ef5b70;
}
.filter > details > details > summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  border-left: 5px solid #ef5b70;
  padding: 8px 0 11px 11px;
  margin-top: 16px;
}
.category {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 0;
}
.category__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filter__left {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}
.filter__left > details > summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
}
.size {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 12px;
}
.size > li:first-child {
  padding-top: 12px;
}
.size__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  padding-left: 9px;
}
.pagination {
  padding-top: 48px;
}
.pagination__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.pagination__numbers {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagination__number {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}
._pagination__active {
  color: #ef5b70;
}
