.navigation {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  display: flex;
}

.breadcrumb > li:last-child .breadcrumb__link {
  font-weight: 700;
  color: #f16d7f;
}

.breadcrumb > li:not(:last-child)::after {
  padding: 0 8px;
  color: #636363;
  content: "/\00a0";
}

.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link:hover {
  color: #f16d7f;
}

.filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.filter-box {
  width: 360px;
  position: relative;
  height: 40px;
}

.filter__box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}

.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__link:hover {
  color: #f16d7f;
}

.filter__sort {
  padding-top: 51px;
  padding-bottom: 64px;
  display: flex;
  gap: 30px;
}

.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}

.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter__summary {
  color: #f16d7f;
}

.filter[open] .filter__img path {
  fill: #f16d7f;
}

.filter__category {
  margin-top: 16px;
}

.filter__category-summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #EBEBEB;
}

.filter[open] .filter__category-summary {
  color: #f16d7f;
}

.sort {
  display: flex;
  align-items: center;
  gap: 28px;
}

.sort__details {
  position: relative;
}

.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort__content {
  position: absolute;
  top: 22px;
  left: -9px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sort__label {
  display: flex;
  align-items: center;
  gap: 9px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

.pagination__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  max-width: 284px;
  gap: 18px;
  border: 1px solid #EBEBEB;
}

.pagination__numbers {
  display: flex;
  align-items: center;
}

.pagination__numbers > li {
  padding-right: 20px;
}

.pagination__numbers > li:nth-last-child(-n+3) {
  padding-right: 0;
}

.pagination__number {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

._pagination__active {
  color: #ef5b70;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider__btn {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn:hover svg path {
  fill: #f16d7f;
}

.slider__navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: -65px auto 0;
  flex-direction: column;
}

.slider__border {
  border-bottom: 1px solid #EAEAEA;
  width: 642px;
}

.slider__sort {
  padding: 65px 0 48px;
  justify-content: center;
}

.slider__button {
  width: 212px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.slider__button:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.slider__button:hover svg path {
  fill: #ffffff;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 65px;
  gap: 12px;
}

.info__section {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.info__border {
  width: 63px;
  border-bottom: 3px solid #f16d7f;
}

.info__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.info__description {
  padding: 36px 293px 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  text-align: center;
}

.info__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.basket {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart__product {
  width: 652px;
  display: flex;
  gap: 31px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart__buttons {
  display: flex;
  gap: 192px;
  padding-top: 32px;
}

.cart__close {
  padding-top: 28px;
}

.product__box {
  padding-top: 22px;
  width: 262px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.product__name {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 36px;
}

.product__info {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: flex;
  gap: 8px;
}

.product__info > span {
  color: #6F6E6E;
}

.product__info:last-child {
  display: flex;
  gap: 24px;
}

.product__info-active {
  color: #ef5b70 !important;
}

.product__input {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #6F6E6E;
  border: 1px solid #EAEAEA;
  padding-left: 16px;
  width: 44px;
}

.clear {
  width: 235px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.clear:last-child {
  width: 225px;
}

.shipping {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.shipping__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipping__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shipping__input {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 13px 16px 17px;
}

.shipping__button {
  padding-top: 3px;
  width: 100px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shipping__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shipping__sub {
  padding-top: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shipping__sub > span {
  padding-left: 72px;
}

.shipping__grand {
  padding: 12px 0 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shipping__grand > span {
  padding-left: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.shipping__border {
  width: 275px;
  border: 1px solid #E2E2E2;
}

.shipping__button-price {
  margin-top: 17px;
  width: 273px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #f16d7f;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.shipping__button-price:hover {
  color: #ffffff;
  background: #f16d7f;
}

.registration {
  display: flex;
  justify-content: space-between;
  gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}

.registration__input {
  width: 360px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 13px 16px 17px;
  margin-top: 20px;
}

.registration__heading {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__ratio {
  display: flex;
  flex-direction: row;
  margin: 31px 0 33px;
  gap: 20px;
}

.registration__gender {
  display: flex;
  gap: 10px;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 15px 0 39px;
}

.registration__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 167px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.registration__button:hover {
  color: #FFFFFF;
  background: #f16d7f;
}

.registration__button:hover > svg path {
  fill: #FFFFFF;
}

.loyalty {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.loyalty__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.perks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.perks__item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style-image: url("../img/Vector.svg");
}

.perks__check {
  margin-right: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 75px;
  background: #222222;
  position: relative;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.menu {
  position: absolute;
  top: 75px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
  margin-bottom: 4px;
  transform: translateY(-120%);
  transition: transform .5s;
  z-index: 2;
}

.menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.menu__box {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.menu__box > li {
  padding-left: 21px;
}

.menu__box > li:first-child {
  padding-left: 0;
}

.menu__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.menu__item:hover {
  color: #f16d7f;
}

.menu__active {
  transform: translateY(0);
  transition: transform .5s;
}

.promo {
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #f1e4e6;
}

.promo__image {
  width: 50%;
}

.promo__content {
  padding-left: 64px;
}

.promo__info {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 48%;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__heading-span {
  color: #f16d7f;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__item {
  position: relative;
}

.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sale__item-big {
  min-height: 180px;
  grid-column: 1 / -1;
}

.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
}

.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-align: center;
}

.product-box {
  padding-bottom: 95px;
}

.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px;
}

.product-box__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product-box__button {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
}

.product-box__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  color: #f26376;
  border: 1px solid #f26376;
  padding: 14px 38px;
}

.product-box__btn:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.product {
  position: relative;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  width: 139px;
  height: 44px;
  display: none;
  justify-content: center;
  align-items: center;
  font-style: normal;
  gap: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #fff;
}

.product__contetn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.offers {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.offers__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.offer-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 360px;
}

.offer-item__heading {
  padding: 28px 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #fbfbfb;
}

.offer-item__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  text-align: center;
}

.footer {
  background: #222224;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.subscribe {
  min-height: 448px;
  background-image: url(../img/backgroundSubscribe.jpg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  background-position: center bottom;
}

.subscribe__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 96px;
}

.subscribe__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.subscribe__right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscribe__citation {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #222224;
}

.subscribe__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #222224;
}

.subscribe__input {
  padding-left: 22px;
  width: 256px;
  height: 49px;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: flex;
  align-items: center;
  border-radius: 25px 0 0 25px;
}

.subscribe__btn {
  width: 100px;
  height: 49px;
  background: #f16d7f;
  border: 1px solid #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  border-radius: 0 25px 25px 0;
}

.social {
  display: flex;
  align-items: center;
  gap: 7px;
}

.social__link {
  display: block;
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link:hover {
  background-color: #f16d7f;
}

.social__link:hover path {
  fill: #fff;
}

.form {
  padding-top: 32px;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .promo__content {
    display: flex;
    align-items: center;
    padding-left: 39px;
  }
  .promo__info {
    margin-top: 0;
  }
  .promo__title {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .sale {
    gap: 19px;
    padding-bottom: 110px;
  }
  .sale__item-big {
    min-height: 116px;
  }
  .product-box {
    padding-bottom: 65px;
  }
  .product-box__text {
    margin: 3px 0 73px;
  }
  .product-box__content {
    gap: 16px;
  }
  .offers {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .offers__items {
    gap: 48px;
  }
  .subscribe__container {
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .form {
    padding-top: 27px;
  }
  .filter__sort {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .product__catalog:nth-child(3) {
    display: none;
  }
  .pagination {
    padding-top: 40px;
  }
  .info__description {
    padding: 48px 87px 32px;
  }
  .product-box__catalog {
    padding-top: 128px;
    padding-bottom: 129px;
  }
  .product__slider:last-child {
    display: none;
  }
  .basket {
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-top: 59px;
    padding-bottom: 128px;
  }
  .cart__product {
    max-width: 734px;
  }
  .cart__buttons {
    gap: 48px;
    justify-content: center;
    padding-top: 22px;
  }
  .shipping {
    flex-direction: row;
  }
  .registration {
    padding-top: 40px;
    gap: 22px;
  }
  .loyalty__heading {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .loyalty__text {
    font-size: 16px;
    line-height: 19px;
  }
  .perks__item {
    font-size: 16px;
    line-height: 19px;
    margin-left: 30px;
  }
}
