.navigation {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  display: flex;
}

.breadcrumb > li:last-child .breadcrumb__link {
  font-weight: 700;
  color: #f16d7f;
}

.breadcrumb > li:not(:last-child)::after {
  padding: 0 8px;
  color: #636363;
  content: "/\00a0";
}

.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link:hover {
  color: #f16d7f;
}

.filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.filter-box {
  width: 360px;
  position: relative;
  height: 40px;
}

.filter__box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}

.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter__link:hover {
  color: #f16d7f;
}

.filter__sort {
  padding-top: 51px;
  padding-bottom: 64px;
  display: flex;
  gap: 30px;
}

.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}

.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter__summary {
  color: #f16d7f;
}

.filter[open] .filter__img path {
  fill: #f16d7f;
}

.filter__category {
  margin-top: 16px;
}

.filter__category-summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #EBEBEB;
}

.filter[open] .filter__category-summary {
  color: #f16d7f;
}

.sort {
  display: flex;
  gap: 28px;
  align-items: center;
}

.sort__details {
  position: relative;
}

.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort__content {
  position: absolute;
  top: 22px;
  left: -9px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 79px;
  padding: 7px 9px 11px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sort__label {
  display: flex;
  align-items: center;
  gap: 9px;
}

.pagination {
  padding-top: 48px;
}

.pagination__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.pagination__numbers {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pagination__number {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

._pagination__active {
  color: #ef5b70;
}

.slider {
  display: flex;
  justify-content: center;
  position: relative;
}

.slider__btn {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn:hover svg path {
  fill: #f16d7f;
}

.slider__navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
}

.slider__sort {
  padding-bottom: 48px;
  justify-content: center;
}

.slider__button {
  display: flex;
  gap: 22px;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 24px 9px;
}

.slider__button:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.slider__button:hover svg path {
  fill: #ffffff;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 130px;
}

.info__section {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.info__border {
  width: 63px;
  border-bottom: 3px solid #f16d7f;
}

.info__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.info__description {
  padding: 36px 293px 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.info__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
  background: #222222;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.promo {
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: #f1e4e6;
}

.promo__imgage {
  width: 50%;
}

.promo__content {
  padding-left: 64px;
}

.promo__info {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 48%;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__heading-span {
  color: #f16d7f;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__item {
  position: relative;
}

.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale__item-big {
  min-height: 180px;
  grid-column: 1 / -1;
}

.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.product-box {
  padding-bottom: 95px;
}

.product-box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.product-box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px;
}

.product-box__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product-box__button {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
}

.product-box__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #f26376;
  padding: 14px 38px;
}

.product-box__btn:hover {
  background: #f16d7f;
  border: 1px solid #ff6a6a;
  color: #ffffff;
}

.product {
  position: relative;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  width: 139px;
  height: 44px;
  display: none;
  justify-content: center;
  align-items: center;
  font-style: normal;
  gap: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #fff;
}

.product__contetn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.offers {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.offers__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.offer-item__heading {
  padding: 28px 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.offer-item__text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.footer {
  background: #222224;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.subscribe {
  min-height: 448px;
  background-image: url(../img/backgroundSubscribe.jpg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  background-position: center bottom;
}

.subscribe__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 96px;
}

.subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__citation {
  max-width: 360px;
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.subscribe__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
}

.subscribe__input {
  height: 49px;
  width: 256px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  background: #e1e1e1;
  border-radius: 25px 0 0 25px;
  border: none;
}

.subscribe__btn {
  width: 100px;
  height: 49px;
  background: #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border-radius: 0 25px 25px 0;
  border: none;
}

.social {
  display: flex;
  align-items: center;
  gap: 7px;
}

.social__link {
  display: block;
  background: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  background-color: #f16d7f;
}

.social__link:hover path {
  fill: #fff;
}

.form {
  display: flex;
  align-items: center;
  padding-top: 32px;
}
